/*Import text style Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --width-full: 100%;
    --width-12col: 1200px;

    --grid-gap: 10px;
    --padding-default: 20px;
    --primary-color: #2959c0;
    --background-color: #95DFFF;
    --background-secondary-coolor: #95B6FF;
    --primary-text-color: #FFFFFF;
    --sand-color: #FFF290;
    --sign-button-color: #7dbe00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
}

.container {
    height: auto;
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    z-index: 2;
    width: var(--width-full);
    border-bottom: var(--primary-text-color) 1px solid;
}

.menu_container {
    width: var(--width-12col);
    margin: 0 auto 0 auto;
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(12, 1fr);
    text-transform: uppercase;
    height: 70px;
}

.menu_container_logo {
    padding-left: 10px;
    padding-right: 10px;
}

.menu_container_logo img {
    height: 60px;
    grid-column: 1;
    position: relative;
    top: 5px;
}

.menu_container a {
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    display: flex;
    font-weight: 700;
    color: #FFFFFF;
}

.menu_container a p {
    text-align: center;
}

#menu_home {
    display: flex;
}

#menu_home:hover {
    background-color: #ff69b490;
}

.menu_container_home {
    grid-column: 9 / 1 span;
    border-radius: 25px;
    height: 120px;
    margin-top: -60px;
}


.menu_container_home a {
    background-color: var(--primary-color);
    border-radius: 25px;
}

.menu_container_home a:hover {
    background-color: hotpink;
}

.menu_container_sign a {
    background-color: var(--sign-button-color);
    border-radius: 25px;
    width: 200px;
    height: 100px;
    margin-top: -30px;
}

.menu_container_sign a:hover {
    background-color: #ff69b4;
}

#menu_sign p {
    margin: 60px auto auto auto;
    color: #373737;
}

#menu_sign {
    grid-row: 1;
    margin-top: -10px;
    display: flex;
    grid-column: 10 / span 3;
}

#menu_home p { 
    margin: 80px auto auto auto;
}


.hero {
    width: var(--width-full);
    height: 600px;
    background-image: url("../Images/Hero-new-img.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-light);
}


.hero_container {
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto 0 auto;
    gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(12 / 1fr);
    grid-template-rows: auto;

}

.hero_text {
    width: 1000px;
    height: 100px;
    grid-row: 2;
    color: var(--primary-text-color);
}

.hero_text h1{
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero_text p {
    padding-top: 30px;
    font-size: 35px;
    font-weight: 700;
}

.hero_text img{
    margin: 15px 0 0 20px;
}

.content_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.content_area_red_thread img {
    height: auto;
    width: var(--width-12col);
}

.content_area_content{
    display: flex;
    justify-content: space-between;
    width: var(--width-12col);
    flex-wrap: wrap;
}

.content_area_content_box {
    display: flex;
    width: 360px;
    height: 220px;
    flex-direction: column;
}

.content_area_content_top_left{
    background-color: var(--primary-color);
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_area_content_middle_right{
    background-color: var(--primary-color);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_area_content_bottom_left{
    background-color: var(--primary-color);
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_area_content_top_right{
    width:50%;
}

.content_area_content_top_right img{
    width: 100%;
    height: 100%;
}

.content_area_content_middle_left{
    width: 50%;
}

.content_area_content_middle_left img{
    width: 100%;
    height: 100%;
}

.content_area_content_bottom_right{
    width: 50%;
}

.content_area_content_bottom_right img{
    width: 100%;
    height: 100%;
}

.content_area_content_box {
    margin-top: 30px;
    margin-left: 20px;
    width: 500px;
    height: 550px;
}

.content_area_box_middle{
    font-size: 40px;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.content_area_box_line {
    height: 2px;
    width: 480px;
    background-color: #ffffff;
    margin: 20px 0 20px 0;
}

.content_area_box_bottom{
    width: 480px;
    height: 125px;
    font-size: 20px;
    line-height: 30px;
    color: var(--primary-text-color);
}

.content_area_content_box a {
    width: 160px;
    margin-left: 321px;
    margin-top: 215px;
}

.video_section {
    width: var(--width-12col);
    height: auto;
    margin: auto auto;
    grid-template-columns: repeat(12 / 1fr);
    display: grid;
}

.video_section_red_thread img {
width: var(--width-12col);
}

.video iframe {
    height: 675px;
    width: 100%;
    border-radius: 5px;
}   

.video_section_text {
grid-column: 1;
}

.video_section_text h4 {
    font-size: 40px;
    background-color: #373737;
    color: var(--primary-text-color);
    grid-row: 2;
    margin: 10px auto auto auto;
    width: auto;
    padding: 20px 20px 0 20px;
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
}

.video_section_text_line {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}

.video_section_text_undertext {
    background-color: #373737;
    color: var(--primary-text-color);
    grid-row: 3;
    width: auto;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
    padding: 10px 20px 20px 20px;
    font-size: 18px;
    line-height: 25px;
}

.how_to_make_a_difference_area_red_thread {
    margin: auto auto;
    width: var(--width-12col);
}

.how_to_make_a_difference_area_red_thread img {
    margin: auto auto;
    width: var(--width-12col);
}

.difference_zone {
    width: var(--width-full);
    height: 650px;
    background-color: #2959C0;
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
    grid-row: auto;
    margin: auto auto;
}

.difference_box {
    grid-column: 3 / span 8;
    text-align: center;
    margin-top: 40px;
    width: var(--width-12col);
    margin: auto auto;
    margin-top: 40px;
    height: fit-content;
    padding: 20px;
    background-color: #373737;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 52px;
}

.difference_fact_zone {
    grid-column: 1 / span 12;
    grid-row: 2;
    grid-template-rows: auto;
    display: grid;
    width: var(--width-12col);
    margin: 100px auto 0 auto;
    justify-content: space-evenly;
    display: flex;
}

.difference_fact_one {
    height: 230px;
    width: 380px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.difference_fact_one_text_box {
    width: 340px;
    height: 130px;
    background-color: #FFFFFF;
    margin-top: 80px;
    border-radius: 5px;

    font-size: 22px;
    padding: 10px;
}

.difference_face_one_circle {
    height: 150px;
    width: 150px;
    background-color: #D9D9D9;
    margin-top: -70px;
    border-radius: 100px;
    position: absolute;
}

.difference_face_one_circle_inner {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: #2959C0;
    margin: 20px 0 0 25px;
}

.difference_face_one_circle_inner img {
    margin-left: -52px;
}

.difference_fact_two {
    height: 230px;
    width: 380px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.difference_fact_two_text_box {
    width: 340px;
    height: 130px;
    background-color: #FFFFFF;
    margin-top: 80px;
    border-radius: 5px;

    font-size: 22px;
    padding: 10px;
}

.difference_face_two_circle {
    height: 150px;
    width: 150px;
    background-color: #D9D9D9;
    margin-top: -70px;
    border-radius: 100px;
    position: absolute;
}

.difference_face_two_circle_inner {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: #2959C0;
    margin: 20px 0 0 25px;
}

.difference_face_two_circle_inner img {
    margin-left: -52px;
}


.difference_fact_three {
    height: 230px;
    width: 380px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.difference_fact_three_text_box {
    width: 340px;
    height: 130px;
    background-color: #FFFFFF;
    margin-top: 80px;
    border-radius: 5px;

    font-size: 22px;
    padding: 10px;
}

.difference_face_three_circle {
    height: 150px;
    width: 150px;
    background-color: #D9D9D9;
    margin-top: -70px;
    border-radius: 100px;
    position: absolute;
}

.difference_face_three_circle_inner {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: #2959C0;
    margin: 20px 0 0 25px;
}

.difference_face_three_circle_inner img {
    margin-left: -52px;
}

.sign_petition_big_button {
    grid-row: 3;
    grid-column: 1 / span 12;
    margin: 80px auto 0 auto;
    z-index: 1;
}

.sign_petition_big_button_green {
    width: 660px;
    height: 150px;
    background-color: var(--sign-button-color);
    border-radius: 100px;
    margin: 20px 0 0 20px;
    transition: transform 0.3s ease-in-out;
    border: var(--primary-color) 20px solid;
}

.sign_petition_big_button_green:hover{
    transform: scale(1.04);
}


.sign_petition_big_button_green p {
    font-weight: 700;
    font-size: 62px;
    text-align: center;
    padding-top: 18px;
    color: #373737;
    text-transform: uppercase;
}

.sign_petition_big_button a {
    text-decoration: none;
}

.footer_trail{
    width: fit-content;
    margin: 0 auto 0 auto;
    height: fit-content;
}

.footer_trail img{
    width: var(--width-12col);
}

.footer{
    width: var(--width-full);
    height: 200px;
    justify-content: center;
    margin: auto auto;
    align-items: center;
}

.footer_sand{
    width: fit-content;
    margin: 0 auto 0 auto;
    height: fit-content;
    background-color: var(--sand-color);
}

.footer_sand img {
    width: var(--width-12col);
}

/* .some_more_sand {
    width: 1200px;
    height: 300px;
    background-color: var(--sand-color);
    margin-top: -175px;
} */



/*****************Info******************/

.menu_container_home_info {
    grid-column: 9 / 1 span;
    border-radius: 25px;
    height: 120px;
    margin-top: -60px;
}


.menu_container_home_info a {
    background-color: var(--primary-color);
    border-radius: 25px;
}

.menu_container_home_info a:hover {
    background-color: hotpink;
}

.hero_text_info {
    width: var(--width-12col);
    height: 100px;
    grid-row: 2;
    color: var(--primary-text-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 14px;
}

.info_red_thread_one{
    width: fit-content;
    margin: 0 auto 0 auto;
    height: fit-content;
}

.info_red_thread_one img{
    width: var(--width-12col);
}

.info_information_boxes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_information_boxes_section {
    height: 750px;
    width: var(--width-12col);
    background-color: var(--primary-color);
    display: flex;
}

.info_information_boxes_section_text{
    
    margin: 45px 60px 60px 60px;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--primary-text-color)
    
}

.info_information_boxes_section_text h3{
    border-bottom: var(--primary-text-color) 3px solid;
    padding-bottom: 20px;
    font-size: 40px;
    text-transform: uppercase;
    width: 480px;
    align-items: center;
}

.info_information_boxes_section_text p{
    padding-top: 20px;
    width: 480px;
    align-items: center;
    font-size: 20px;
    line-height: 30px;
}

.info_information_boxes_section_img {
    width: 50%;
    height: 750px;
    display: grid;
    flex-direction: column;

}

.info_information_boxes_section_img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    justify-content: flex-end;
}



.info_red_thread_one_flipped img {
    width: var(--width-12col);
    align-items: center;
    margin: 0 auto 0 auto;
    display: flex;
}

.info_red_thread_one_flipped img {
    transform: scaleX(-1);
}

/*****************External******************/

.learn_more_links_section{
    height: 400px;
    width: var(--width-12col);
    background-color: var(--primary-color);
    display: grid;
    justify-content: center;
    margin: auto auto;
    align-items: center;
}

.learn_more_links_section_text{
    background-color: #373737;
    height: 72px;
    color: var(--primary-text-color);
    width: 850px;
    font-size: 52px;
    font-weight: 400px;
    text-align: center;
    padding-top: 5px;
    margin-top:40px;
    margin: auto auto;
    text-transform: uppercase;
    font-weight: 700px;
}

.learn_more_links_section_ext{
    background-color: #D9D9D9;
    height: 120px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
}


.learn_more_links_section_ext a{
    height: 100px;
    width: 300px;
    margin-top: 10.1px;
}

.learn_more_links_section_ext a img{
    height: 100%;
    width: 100%;
    border:#EBEBEB 10px solid;
    border-radius: 50px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.learn_more_links_section_ext a img:hover{
    transform: scale(1.04);
}

.content_area_content_top_left {
    order: 2;
}

.content_area_content_middle_left {
    order: 1;
}

@media (max-width: 600px){

    :root {
        --width-12col: 100%;
    }

    .content_area_content_top_left {
        order: 1; 
    }

    .content_area_content_middle_left {
        order: 2; 
    }

.navigation div{
    width: auto;
    gap: 0;
    grid-template-columns: auto;
    grid-column: auto;
}    
    

.video_section_text_undertext{
    display: none;
}

.info_information_boxes{
    width: auto;
}

.learn_more_links_section{
    display: none;
}

.difference_zone{
    width: auto;
    height: 1150px;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column ; */
}
.difference_fact_zone{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column ;
}
.difference_fact_zone div{
        margin-bottom: 100px;
}
.difference_box{
    font-size: x-large;
}

.sign_petition_big_button{
    justify-content: center;
    margin: 0 0;
}

.sign_petition_big_button div{
    width: auto
    
}

.sign_petition_big_button_green{
    margin: 0 5px;
}


.hero div{
    width: auto;
}

.hero_text_text p{
font-size: x-large;
}

.content_area_content_bottom_right{
    display: none;
}

.content_area div{
    width: auto;
}

.content_area_content{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}
.content_area_content div{
margin: 2.5px 5px;
}

.content_area_content img{
    border-radius: 5px;
}

.content_area_box_top{
    margin-top: 5px;
}

.content_area_content_top_left {
    margin-bottom: 15px;
    border-radius: 5px;
}
.content_area_content_middle_right{
    margin-bottom: 15px;
    border-radius: 5px;

}
.content_area_content_bottom_left{
    margin-bottom: 15px;
    border-radius: 5px;

}

.content_area_box_bottom{
    font-size: xx-large;
}

.footer_trail{
    display: none;
}

.footer{
    display: none;
}

}