/*Import text style Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --width-full: 100%;
    --width-12col: 1200px;

    --grid-gap: 10px;
    --padding-default: 20px;
    --primary-color: #2959c0;
    --background-color: #95DFFF;
    --background-secondary-coolor: #95B6FF;
    --primary-text-color: #FFFFFF;
    --sand-color: #FFF290;
    --sign-button-color: #32CD32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    height: auto;
    width: var(--width-full);
}

.navigation {
    background-color: greenyellow;
    position: relative;
    z-index: 1;
    width: var(--width-full);
}

.menu_container {
    width: var(--width-12col);
    margin: 0 auto 0 auto;
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(12, 1fr);
    text-transform: uppercase;
    height: 80px;
}

.menu_container a {
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    display: flex;
}

.menu_container a p {
    margin: auto;
    text-align: center;
}

#menu-box {
    color: red;
    background-color: forestgreen;
    display: flex;
}

#menu-box:hover {
    color: blue;
    background-color: hotpink;
}

.butt {
    grid-column: 1 / span 3;
    height:80px;
}

.butt img {
 height:80px;
 width: 100%;
}

.cake {
    grid-column: 9 / 1 span;
}

/* .cock {
    grid-column: 10 / 1 span;
} */

.penis {
    grid-column: 11 / 2 span;
}

.hero {
    width: var(--width-full);
    height: 600px;
    background-image: url("https://picsum.photos/1920/1080");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-light);
}


.hero_container {
    width: var(--width-12col);
    background-color: #bf5b23;
    height: 100%;
    margin: 0 auto 0 auto;
    gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(12 / 1fr);
}

.hero_text {
    color: #ededed;
}

.hero_text h1 {
    color: blueviolet;
    grid-column: 1 / 1 span;
}

.hero_text p{
    grid-column: 2 / 1 span;
}





.content_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content_area_content{
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    width: var(--width-12col);
    flex-wrap: wrap;
}

.content_area_content_box {
    display: flex;
    width: 360px;
    height: 220px;
    flex-direction: column;
}

.content_area_content_top_left{
    background-color: var(--background-color-light);
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_area_content_middle_right{
    background-color: var(--background-color-light);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_area_content_bottom_left{
    background-color: var(--background-color-light);
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_area_content_top_right{
    background-color: var(--background-color-light);
    width:50%;
}

.content_area_content_top_right img{
    width:100%;
    height: 100%;
}

.content_area_content_middle_left{
    background-color: var(--background-color-light);
    width:50%;
}

.content_area_content_middle_right{
    background-color: var(--background-color-light);
    width:50%;
}

.content_area_content_middle_left img{
    width:100%;
    height: 100%;
}

.content_area_content_bottom_left{
    background-color: var(--background-color-light);
    width:50%;
}

.content_area_content_bottom_right{
    background-color: var(--background-color-light);
    width:50%;
}

.content_area_content_bottom_right img{
    width:100%;
    height: 100%;
}

.content_area_box_top{
    border-left:3px solid var(--primary-color);
    font-size: 16px;
    font-weight: 900;
    padding-left: 10px;
}

.content_area_box_middle{
    padding-top: 11px;
    font-size: 22px;
    text-transform: uppercase;
    color: var(--primary-color);
    padding-bottom: 14px;
}

.content_area_box_bottom{
    width: 280px;
    height:125px;
}

.content_area_button{
    margin-top: 45px;
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 5px;
    width: fit-content;
    padding: 10px 58px 10px 58px;
}

/*
.cake{
}

.cock{}

.penis {
    margin-left: 400px;
}
*/