/*Import text style Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --width-full: 100%;
    --width-12col: 1200px;

    --grid-gap: 10px;
    --padding-default: 20px;
    --primary-color: #2959c0;
    --background-color: #95DFFF;
    --background-secondary-coolor: #95B6FF;
    --primary-text-color: #FFFFFF;
    --sand-color: #FFF290;
    --sign-button-color: #75C029;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
}

.container {
    height: auto;
    width: var(--width-full);
}

.navigation {
    background-color: #95DFFF90;
    position: relative;
    z-index: 1;
    width: var(--width-full);
}

.menu_container {
    width: var(--width-12col);
    margin: 0 auto 0 auto;
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(12, 1fr);
    text-transform: uppercase;
    height: 90px;
}

.menu_container a {
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    display: flex;
    font-weight: 700;
    color: #FFFFFF;
}

.menu_container a p {
    text-align: center;
}

#menu_home {
    display: flex;
}

#menu_home:hover {
    background-color: #ff69b490;
}

.menu_container_logo {
    grid-column: 1 / span 3;
    height:80px;
}

.menu_container_logo img {
 height:80px;
 width: 50px;
}

.menu_container_home {
    grid-column: 10 / 1 span;
    border-radius: 25px;
    height: 120px;
    margin-top: -40px;
}


.menu_container_home a {
    background-color: #C02929;
    border-radius: 25px;
}

.menu_container_home a:hover {
    background-color: hotpink;
}

.menu_container_sign a {
    background-color: var(--sign-button-color);
    border-radius: 25px;
    width: 200px;
    height: 100px;
    margin-top: -30px;
}

.menu_container_sign a:hover {
    background-color: #ff69b4;
}

#menu_sign p {
    margin: 60px auto auto auto;
}

#menu_sign {
    grid-column: 11 / span 2;
    grid-row: 1;
    margin-top: -10px;
}

#menu_home p { 
    margin: 60px auto auto auto;
}


.hero {
    width: var(--width-full);
    height: 600px;
    background-image: url("https://picsum.photos/1920/1080");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-light);
}


.hero_container {
    width: var(--width-12col);
    height: 100%;
    margin: 0 auto 0 auto;
    gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(12 / 1fr);
    grid-template-rows: auto;
    margin-top: -90px;
}

.hero_text {
    width: 280px;
    height: 80px;
    grid-row: 2;
}

.hero_text h1 {
    background-color: #11111199;
    color: #FFFFFF;
    width: 340px;
    grid-column: 1 / 1 span;
    margin: 0 0 10px 0;
    padding: 10px;
    text-transform: uppercase;
    font-size: 48px;
    border-radius: 5px;
}

.hero_text p{
    background-color: #11111199;
    color: #FFFFFF;
    width: 480px;
    grid-column: 2 / 1 span;
    padding: 10px;
    font-size: 28px;
    border-radius: 5px;
}





.content_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.content_area_content{
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    width: var(--width-12col);
    flex-wrap: wrap;
}

.content_area_content_box {
    display: flex;
    width: 360px;
    height: 220px;
    flex-direction: column;
}

.content_area_content_top_left{
    background-color: var(--primary-color);
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_area_content_middle_right{
    background-color: var(--primary-color);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_area_content_bottom_left{
    background-color: var(--primary-color);
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_area_content_top_right{
    width:50%;
}

.content_area_content_top_right img{
    width:100%;
    height: 100%;
}

.content_area_content_middle_left{
    width:50%;
}

.content_area_content_middle_left img{
    width:100%;
    height: 100%;
}

.content_area_content_bottom_right{
    width:50%;
}

.content_area_content_bottom_right img{
    width:100%;
    height: 100%;
}

.content_area_content_box {
    margin: -250px 0 0 -100px;
}

.content_area_box_middle{
    font-size: 22px;
    text-transform: uppercase;
    color: var(--primary-text-color);
    padding-bottom: 14px;
}

.content_area_box_bottom{
    width: 280px;
    height:125px;
    color: var(--primary-text-color);
}

.content_area_button{
    margin-top: 45px;
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 5px;
    width: fit-content;
    padding: 10px 58px 10px 58px;
}



.video_section {
    width: var(--width-12col);
    height: 1000px;
    background-color: orange;
    margin: 60px auto auto auto;
}

.video {
    align-items: center;
}

.video iframe {
    width: 100%;
    height: 600px;
}   